* {
  margin: 0;
  font-family: 'Manrope';
}

body {
  background-color: #fafafa;
}

.hero-top {
  font-weight: 800;
  font-size: 56px;
  line-height: 130%;
}
.mbtn {
  border: none;
  background-color: white;
  color: #2b2b2b;
  line-height: 24.59px;
}

.btn-primary {
  background-color: #ff6600;
}
.mbtn-signup {
  padding: 16px 35px;
  color: white;
  background-color: #ff6600;
  border-radius: 8px;
  border: none;
}
.mbtn-hero {
  padding: 16px 35px;
  font-weight: 700;
  color: white;
  background-color: #ff6600;
  border-radius: 8px;
  border: none;
}

.logo {
  flex-grow: 0;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-section > img {
  margin: 3px 20px;
}
.logo-section > h1 {
  letter-spacing: 5px;
  color: #2b2b2b;
  font-weight: 900;
}
.navmenu {
  display: flex;
  margin: 3px;
  margin-left: 350px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 18px;
  flex-wrap: nowrap;
}

.header {
  margin: 26px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
